    $primary:#c86868;


.dark{
    //$primary:#c86868;


    background-color: rgb(0, 0, 0);
        
    .btn-toggle{
        background-color: rgb(49, 49, 49);
        color:rgb(255, 255, 255);
    }

    .card-main{
        background-color: cornflowerblue;
        color:black;
    }
}


.light{
    // $primary:#c34d4d;

    background-color: rgb(189, 189, 189);
    
        .btn-toggle{
        background-color:rgb(167, 167, 167);
        color:rgb(49, 49, 49);
    }

    .card-main{
        background-color: black;
        color:rgb(48, 113, 233);
    }
}

@import "../../node_modules//bootstrap/scss/bootstrap";


@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules//bootstrap/scss/variables"; 
