
@import "../../node_modules//bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules//bootstrap/scss/variables";


$custom-colors: (
  "custom": #900
);


.dark{
    $primary:red;
$custom: #a1ffc8;

    background-color: rgb(0, 0, 0);
        
    .btn-toggle{
        background-color: rgb(49, 49, 49);
        color:rgb(255, 255, 255);
    }

    .card-main{
        background-color: cornflowerblue;
        color:black;
    }
}

.light{
    $primary:green;
    $custom: #0074d9;

    background-color: rgb(189, 189, 189);
        .btn-toggle{
        background-color:rgb(167, 167, 167);
        color:rgb(49, 49, 49);
    }

    .card-main{
        background-color: black;
        color:rgb(48, 113, 233);
    }
}

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);